[2016-11-18 11:45] kameshsampath opened #6 "Ability to redeploy vert.x apps"
the plugin should able to redeploy the application when `redeploy` is enabled and based on `redeployPatterns`

[2016-11-18 15:37] iocanel opened #7 "Potential NPE when artifact file is not found."

[2016-11-18 15:39] kameshsampath commented on #7
which place you refer to @iocanel ?

[2016-11-18 15:43] kameshsampath commented on #7
sorry i did not see your commit. thanks I see where you mean

[2016-11-18 15:50] iocanel commented on #7
Let me add a comment.

[2016-11-20 19:20] kameshsampath opened #10 "Handling all redeploy scenarios"
Adding Test cases for redeployment checking

* redeployments with custom patterns
* redeployment of assets
* Documentation update redeployment

[2016-11-20 19:20] kameshsampath commented on #10
Work in progress

[2016-11-21 08:55] davsclaus commented on #7
The PR was merged

[2016-11-21 08:55] #7 closed

[2016-11-21 17:25] kameshsampath opened #15 "Fat Jar Name - not using Artifact Id"
The fat jar name is currently using `artifactName` instead of `artifactId`

[2016-11-22 11:40] kameshsampath commented on #15
Resolved via #16

[2016-11-22 16:22] #15 closed

[2016-11-22 17:07] cescoffier opened #18 "Combine SPI descriptors"
This would provide the same feature as http://maven.apache.org/plugins/maven-shade-plugin/examples/resource-transformers.html#ServicesResourceTransformer

[2016-11-22 17:09] kameshsampath commented on #6
closed via https://github.com/fabric8io/vertx-maven-plugin/pull/9

[2016-11-22 17:09] #6 closed

[2016-12-01 07:23] kameshsampath commented on #18
Resolved via #19

[2016-12-01 07:23] #18 closed

[2016-12-01 09:07] davsclaus opened #21 "vertx-web - Have a way of extracting client .js files to webroot folder"
When doing a vertx-web you may use vertx javascript .js files in html files. And today you need to extract the .js file and copy those to your webroot folder in your source code.

I would like to have some way of configuring / auto detecting this from this maven plugin.

Detect

- vertx-web as dependency in pom.xml
- webroot in the src/main/resources directory

Then extract the .js files from vert

[2016-12-01 09:19] pmlopes commented on #21
webjars.org does work:

[code]

[2016-12-01 09:19] davsclaus commented on #21
We could also consider having the plugin copy the .js files into the src/main/resources/webroot folder so they can be there for developer editor to "see" so when the user edits the html files then the editor can locate the .js file and provide assistance.

[2016-12-01 09:20] davsclaus commented on #21
Okay but now you have version 3.3.0 in webjars, and use vert.x version 3.3.3. A bit confusing for new users.

[2016-12-01 10:20] cescoffier opened #22 "Custom launcher not used in generated artifacts"

[2016-12-01 10:21] kameshsampath commented on #22
can you please provide an example ?

[2016-12-01 10:28] cescoffier commented on #22
even better a PR: #23

[2016-12-01 10:39] cescoffier commented on #22
Yes, I have a set of projects not using the launcher class but using their own main class. vertx:run works, but the vertx:package was not using the right main class (in the manifest)

[2016-12-01 10:41] #22 closed

[2016-12-01 11:32] rhuss commented on #21
There is a

[code]
Tbh I dont find it too appealing to add an extra dependency resolution in addition to Maven's. E.g there will be situation where everything is proxied over a Nexus or so, with no external internet access allowed. The the custom download would fail, but webjars do still work. Also, what happens if someone adds a webjar in addition of the implicit download mechanism ?

BTW, would

[2016-12-01 11:34] kameshsampath commented on #21
my take would be to have a specialized goal like springboot and swarm has like `setup` which can do all these kind of tasks .. though for now its only adding js tomorrow something might come up as well

[2016-12-01 11:42] rhuss commented on #21
Sounds like a good compromise 👍

[2016-12-01 11:47] davsclaus commented on #21
Yeah the setup goals is better. Let me close this ticket then some day we may work on setup goals, if the vert.x team dont realize that new users need help to get started

[2016-12-01 11:47] #21 closed

[2016-12-03 04:50] kameshsampath opened #27 "Support for xtend"
when xtend is added to the project the application should be able to detect the changes to xtend classes generation and do the incremental build. Currently the application does the rebuild of the src/main/java

[2016-12-03 13:07] cescoffier commented on #27
I believe that lots of plugin would need special support if we go this way. We need to find a better "generic" way to handle custom plugin

[2016-12-03 15:15] cescoffier commented on #27
(working on it)

[2016-12-04 10:01] cescoffier commented on #21
@davsclaus, @rhuss  Check https://github.com/fabric8io/vertx-maven-plugin/pull/28, and the web example using Bower to resolve JS dependencies, and Grunt to do some frontend tasks (it also demonstrates how you can use any plugin replayed during redeploy).

Of course, the pom.xml file is not very clear here, because mixing frontend tools with Maven is not straightforward, but it works and inherits f

[2016-12-05 08:53] davsclaus opened #29 "setup goal to add the plugin to pom.xml"
like fabric8:setup can do to add itself to a pom.xml file.

[2016-12-05 13:37] kameshsampath opened #30 "Add EditorConfig"
to enable consistent styling add .editorconfig to project http://editorconfig.org/

[2016-12-05 13:40] kameshsampath commented on #29
@davsclaus - I would prefer this to be added to fabric-forge add-on and am talking with @cescoffier to add the same  vertx-forge add-on. As those would better places to do it .

Please let me know if you have other thoughts.

[2016-12-05 13:42] kameshsampath commented on #10
closing this as this will be handled by #28

[2016-12-05 13:42] #10 closed

[2016-12-05 13:42] kameshsampath commented on #27
thanks @cescoffier , closing this via #28

[2016-12-05 13:42] #27 closed

[2016-12-05 13:43] cescoffier commented on #29
Both ways are fine, `vertx:setup` would avoid depending on forge for people not using forge. It also set the current plugin version (while the forge addon can be outdated a bit).

[2016-12-05 13:45] davsclaus commented on #29
Yes we need a simple way from just maven as well so people can quickly get started with vert.x and also easily add the v-m-p plugin.

Just imagine you can show any of the existing forge examples where people struggle with the shade plugin, and then they just run

    mvn io.fabric8.vertx:vertx-maven-plugin:1.0.0:setup

And vupti the plugin is automatic added and it generates a fat jar so running v

[2016-12-05 14:06] cescoffier commented on #29
+1,

I was wondering why not calling it `install`, and then wake up.... Man, getting old.

Will work on it.

[2016-12-06 08:07] kameshsampath opened #33 "Handling Maven Inheritence"
Does Maven project methods .getDependencies() and getPlugins() handles inheritance ?

[2016-12-06 08:16] davsclaus commented on #29
Its called setup in some of the other plugins, and I think install smell like you install an app on an app server (though we favor using deploy/undeploy for those kind of tasks).

[2016-12-06 08:17] kameshsampath opened #34 "Update Copyright"
What should be the copyright headers on all files ? do we use fabric8 one or RedHat one ? we need to update that before release 1.0.0.

@rhuss and @cescoffier - comments and thoughts ?

[2016-12-06 08:17] davsclaus opened #35 "Documentation mistake - the package goal is mentioned as vertx.package"
See
https://vmp.fabric8.io/#maven-goals

It should be the like the others using a `:` (colon) instead of `.` (dot)

[2016-12-06 08:19] kameshsampath commented on #35
thanks @davsclaus, we are doing a doc update soon , will update the same

[2016-12-06 08:20] kameshsampath commented on #29
@davsclaus , this is in via #31. please validate

[2016-12-06 08:21] kameshsampath commented on #21
Thanks to @cescoffier , its been resolved via #32

[2016-12-06 08:57] kameshsampath commented on #35
resolved via #36

[2016-12-06 08:57] #35 closed

[2016-12-06 08:58] kameshsampath commented on #34
we shall use RH with ASL copyrights for this, closing this via #36

[2016-12-06 08:58] #34 closed

[2016-12-06 08:58] kameshsampath commented on #30
closed via #29

[2016-12-06 08:58] #30 closed

[2016-12-06 08:59] kameshsampath opened #37 "Documentation Update"
we need to update the documents for `initialize`, `setup` and `improved redeploy`

[2016-12-06 09:00] rhuss commented on #33
Do you mean (a) inheritance from a parent pom or (b) transitive dependencies coming from other dependencies ? For (a) the deps are included since Maven creates an effective pom mergin in all infos from the parent. For (b) I'm pretty sure that its the case (but not 100%). But that can be easily tested.

[2016-12-06 13:40] kameshsampath opened #38 "Setup Goal - Should not write Effective"
Make the setup goal output non-effective pom, right now the setup goal does write a effective pom  which is quiet verbose

[2016-12-06 17:34] kameshsampath commented on #38
resolved via #39

[2016-12-06 17:34] #38 closed

[2016-12-06 17:38] kameshsampath commented on #33
yes @rhuss, i just hit with a bug which I closed via #38 as I saw the `setup` mojo writing back the effective pom.  I handled it by getting the mavenProject#getOriginalModel which gives you the non-effective pom. The idea is to update the MojoUtils#hasPlugin and MojoUtils#hasDependency to use the effective pom to identify the plugins correctly including the inherited ones.

[2016-12-07 18:03] cescoffier opened #40 "JVM Options not passes correctly"
Seems to be again a quote issue.

[2016-12-07 18:03] cescoffier commented on #40
_working on it_ (I can't assign the issue to myself)

[2016-12-07 18:04] cescoffier opened #41 "The start command does not honor custom launcher"
When the start command is used it does not use the right launcher

[2016-12-07 18:04] cescoffier commented on #41
_working on it_

[2016-12-07 18:05] cescoffier opened #42 "Redeploy mode not working with custom launcher"
The application is not launcher with the right command to get the redeploy working.

[2016-12-07 18:05] cescoffier commented on #42
_working on it_

[2016-12-07 18:06] cescoffier opened #43 "Fix how is build the project when the start command does find the app jar"
It must call the full "package" lifecycle, not only "jar:jar"

[2016-12-07 18:07] cescoffier commented on #43
The mojo was not honoring the classifier parameter.

[2016-12-07 18:07] cescoffier commented on #43
_working on it_

[2016-12-07 18:12] cescoffier opened #44 "Add support for `redirect-output`"

[2016-12-07 18:12] cescoffier commented on #44
_working on it_

[2016-12-07 18:38] cescoffier commented on #44
Actually not a good idea, as it makes the parent process stay around.

[2016-12-07 18:38] #44 closed

[2016-12-08 06:59] cescoffier opened #46 "Improve testing strategies to start/stop scenarios"
The maven invoker strategy used right now does not let us check whether or not the application has been correctly started (with all the parameters and settings). We have to find another strategy, probably the Verifier strategy (https://blog.akquinet.de/2011/02/21/testing-maven-plugins-with-the-verifier-approach/)

[2016-12-08 07:00] cescoffier opened #47 "Improve testing strategy of the redeploy scenario"
Same as #46 but for the redeploy tests.

[2016-12-08 07:48] #37 closed

[2016-12-08 07:48] #40 closed

[2016-12-08 07:48] #41 closed

[2016-12-08 07:48] #42 closed

[2016-12-08 07:48] #43 closed

[2016-12-09 02:05] kameshsampath commented on #29
i hope things are working as expected. closing this for now

[2016-12-09 02:05] #29 closed

[2016-12-09 02:05] kameshsampath commented on #33
closing this via @cescoffier #45

[2016-12-09 02:05] #33 closed

[2016-12-10 13:38] cescoffier commented on #46
HAs been provided in #48

[2016-12-10 13:38] #46 closed

[2016-12-10 15:36] cescoffier commented on #47
This has been fixed in #49

[2016-12-10 15:36] #47 closed

[2016-12-13 18:32] cescoffier opened #58 "Support the interruption of the Maven watcher process"
When the redeploy is launched from JBOSS Forge, and it stopped using `CTRL+C`, the process is interrupted. Current code does not support this.

[2016-12-13 18:41] cescoffier opened #59 "Do not install a -vertx artifact when no classifier has been set"

[2016-12-13 18:46] kameshsampath commented on #59
@cescoffier , will fix this

[2016-12-13 18:53] kameshsampath opened #60 "Support Incremental Builder Queue"
Right now the incremental build works without any queuing, to it will be better to have build queues

[2016-12-14 07:11] cescoffier commented on #60
I believe it already has a queue built-in in the FileAlterationMonitor (in the sense it uses the same thread to run the build). IS it what you want to change ?

Something nice to add would be a way to limit the frequency of the builds with some kind of "grace" period.

[2016-12-16 10:36] #58 closed

[2016-12-16 10:36] #59 closed

[2016-12-16 15:12] kameshsampath opened #63 "Update Pipeline"
Update pipeline with latest fabric8io shared pipeline libs

[2016-12-17 12:24] davsclaus opened #64 "NPE in vertx:package when using vertx-camel-bridge"
I get this error
[code]

When I am packaging the application using vertx:package (or doing a mvn install).
The only thing I have done is to add a maven dependency on vertx-camel-bridge. If I remove that dependency then the verx plugin can build the far jar

The example is located at
https://github.com/camelinaction/camelinaction2/tree/master/chapter7/vertx-camel

[2016-12-17 13:29] kameshsampath commented on #64
@davsclaus can you try adding this configuration to v-m-p, and let me know if you are getting the same NPE ?

[code]

[2016-12-17 13:33] kameshsampath commented on #64
WIP

[2016-12-17 15:00] davsclaus commented on #64
Yes now it works with that none configuration

[2016-12-17 15:03] kameshsampath commented on #64
@davsclaus what I found with my debug is that when Shrinkwrap reads a `Asset` from a Archive path, and lets assume its a directory e.g `META-INF/services/org`, then we can't open the stream on it because its directory and hence Shrinkwrap will return null Asset for it. I have now put null check there to make sure we don't read `null` assets

[2016-12-17 15:08] kameshsampath commented on #64
this is a temp workaround @davsclaus , https://github.com/fabric8io/vertx-maven-plugin/pull/66 should have the permanent fix once its merged, and you dont need to add the config change as said above

[2016-12-17 15:20] kameshsampath commented on #64
resolved via #66
@davsclaus, please verify before we can close this

[2016-12-17 15:24] kameshsampath commented on #63
closed via #65

[2016-12-17 15:24] #63 closed

[2016-12-17 17:19] davsclaus opened #67 "vertx:debug - To make java remote debugging easy"
It would be nice if you can start vert.x in Java debug mode, so you can just attach a remote debugger on port 5005

[2016-12-17 20:02] cescoffier commented on #67
I was thinking the same this morning. The only difference, I was using the port 5000.

One thing to notice is that in redeploy mode, you need to re-attach your debugger after every redeployment.

[2016-12-18 08:52] davsclaus commented on #64
Yes it works with SNAPSHOT
[code]

[2016-12-18 08:54] davsclaus commented on #67
5005 is the default remote debug port used by many IDEs etc.

[2016-12-18 08:56] davsclaus commented on #67
Also the good trick with mvDebug vertx:run does not work. You can connect to remote port 8000 (mvnDebug uses 8000) but the break points never gets activated in your Vert.X application code.

So a specialized vertx:debug goal would be awesome, also its easier to use, than the mvnDebug trick

[2016-12-18 09:22] cescoffier commented on #67
Definitely,

My approach right now was:

[code]

Suspend is set to false by default, However, I'm not sure it is the right default.
For the port, let's use 5005 by default.

But I agree, a mojo would simplify the command line to:

[code]

[2016-12-19 05:38] kameshsampath commented on #64
closed via #66

[2016-12-19 05:38] #64 closed

[2016-12-19 07:42] cescoffier commented on #67
Fixed in #68

[2016-12-19 07:42] #67 closed

[2016-12-19 07:44] cescoffier opened #69 "Add support for the Vert.x redeploy "time" options"
The Vert.x redeploy can be controlled using:

* redeploy-scan-period
* redeploy-grace-period
* redeploy-termination-period

These settings should be configurable from the plugin.

More details on http://vertx.io/docs/vertx-core/java/#_live_redeploy

[2016-12-19 07:54] cescoffier opened #70 "Add an attach parameter"
Control whether or not the generated archive need to be installed and deployed. `true` by default.

This need to be handle in the package mojo.

[2016-12-19 08:01] cescoffier opened #71 "Add an option to exclude dependencies from the packaging"
The package mojo should have an options to filter out some dependencies. Here some thoughts about how it can look like:

[code]

I'm not sure we need to be complete in the sense that if the fat jar packaging is complex too complex, it should use a specific maven plugin (shader)

[2016-12-19 08:06] cescoffier opened #72 "Extend the MANIFEST with build info"
The manifest should contain the following entries:

* the current time
* the project name, version, coordinates
* SCM metadata (url / branch / rev number / commit hash) - if applicable
* the username

There are mostly there to meet traceability requirements.

These metadata should be retrieved at packaging time.

[2016-12-22 05:29] kameshsampath opened #74 "Setup Task NPE"
when the pom.xml of the project does not have `build` element, then the setup task throws null pointer exception.

[2016-12-22 10:14] #69 closed

[2016-12-22 10:24] kameshsampath commented on #74
WIP

[2016-12-22 13:27] #74 closed

[2016-12-23 15:57] kameshsampath commented on #70
can you please give an example and add bit detail to this?

[2016-12-25 14:35] cescoffier commented on #70
Right now, we attach the create packaged automatically (even when using a classifier I believe). We should still keep this behavior, but allow not attaching the artifact to the project when explicitly set:

A project with:
[code]

would produce:

1. a _bare_ jar file
2. a fat jar using the `-vertx` classifier

When `attach` is set to false, this second artifact should not be attached to the projec

[2016-12-26 08:51] cescoffier opened #77 "vertx:run fails when sources are not compiled yet"
When launching:

     mvn clean vertx:run

as I get the following ClassNotFoundException:

     java.lang.ClassNotFoundException: ...RestApplication

We should process the resources and compiles the classes in this case. However, I believe it would make more sense to run the 'compile' phase for the user and not the specific plugins (resources and source compilation).

[2017-01-02 09:01] #70 closed, assigned to cescoffier

[2017-01-03 08:40] #77 closed

[2017-01-03 11:56] kameshsampath opened #80 "Printout Config Info"
It will be nice if we can add a feature to the plugin which can print out runtime configuration info when needed, like how springboot does during`mvn spring-boot:run -Ddebug`. Though we cant extract all the details but worth throwing details where possible. e.g. HttpClient/Server options

[2017-01-17 17:03] cescoffier opened #82 "Allow passing parameters to the run goals"

[2017-01-23 10:04] cescoffier opened #83 "SPI combination failling on windows"
[code]

[2017-01-23 15:53] #83 closed

[2017-01-24 13:54] cescoffier opened #85 "The setup goal should enable "redeploy" by default"

[2017-01-24 17:49] kameshsampath opened #86 "Add support for Windows CI"
Adding support for Windows CI to nail any issues that might occur on Windows

[2017-01-24 17:54] kameshsampath opened #87 "SCM Metadata Retrieval Mojo"
We can enhance this SCM retrieval as Mojo and add it to MojoSpy

[2017-01-24 18:04] kameshsampath commented on #72
closed via PR #84

[2017-01-24 18:04] #72 closed

[2017-01-24 18:58] kameshsampath opened #89 "IntegrationTests are Struck in Windows"
Its observed that the IT tests typically the ones using timeouts (DebugIT/StartStopIT) are struck in Windows.

[2017-01-24 19:01] kameshsampath commented on #86
closed via #88

[2017-01-24 19:01] #86 closed

[2017-01-25 06:36] cescoffier commented on #89
Any way to access to workspace to check the build.log files ?

[2017-01-25 14:28] #85 closed

[2017-01-25 14:30] kameshsampath commented on #89
closed via PR #90

[2017-01-25 14:30] #89 closed

[2017-01-25 15:09] kameshsampath opened #91 "Passing vert.x version on setup"
Ability to pass vert.x version on the setup, to allow the setup goal to use it as vert.x version instead of defaulting to the plugin default

[2017-01-25 16:53] kameshsampath commented on #82
any example that we could add to this ticket for better understanding - typically like what you pass/configure on plugin etc.,

[2017-01-25 16:58] cescoffier commented on #82
Like:

[code]

[2017-01-25 17:18] kameshsampath commented on #82
so typically `vert.x` specific arguments right ? if the user wishes to pass his custom arguments like `vertx run MainVerticle myProp1 myProp2` ? I hope we are not looking for that here, if so then there are chances that vert.x might parse those arguments and might result in unsuccessful run

[2017-01-30 16:00] kameshsampath commented on #91
closed via #92

[2017-01-30 16:00] #91 closed

[2017-01-30 16:07] kameshsampath commented on #82
WIP

[2017-01-31 07:48] cescoffier commented on #82
Yes @kameshsampath. These parameters should be passed to the `Launcher` class.

[2017-02-02 09:22] kameshsampath commented on #82
closing via #94 #93

[2017-02-02 09:22] #82 closed

[2017-02-02 09:23] #60 closed

[2017-02-02 10:01] cescoffier opened #95 "Add a way to the setup mojo to add dependencies"
Official Vert.x modules should be available and easy to add.

[code]

[2017-02-02 10:02] cescoffier opened #96 "Add a way to the setup goal to create the Main Verticle"
[code]

[2017-02-02 13:52] cescoffier commented on #96
The yaml file should not be required, and everything overridable in the CLI.

[2017-02-03 13:07] #95 closed

[2017-02-03 13:07] #96 closed

[2017-02-10 06:53] yiailake opened #102 "build failure! help me!"
二月 10, 2017 2:43:18 下午 org.sonatype.guice.bean.reflect.Logs$JULSink warn
警告: Error injecting: io.fabric8.vertx.maven.plugin.mojos.PackageMojo
com.google.inject.ProvisionException: Guice provision errors:

1) No implementation for org.eclipse.aether.RepositorySystem was bound.
  while locating io.fabric8.vertx.maven.plugin.mojos.PackageMojo
1 error
	at com.google.inject.internal.InjectorImpl$3.get(

[2017-02-10 06:55] kameshsampath commented on #102
can you please provide your pom.xml ?

[2017-02-10 09:26] yiailake commented on #102
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>com.kevin</groupId>
    <artifactId>vertx-rest</artifactId>
    <version>1.0-SNAPSHOT

[2017-02-10 12:01] kameshsampath commented on #102
make sure you are using maven`3.3.x` or above, i tried to run your pom.xml locally and found its working fine.

[2017-02-16 14:51] cescoffier commented on #102
As said by @kameshsampath - it needs Maven 3.3.x

[2017-02-16 14:51] #102 closed

[2017-02-16 14:53] cescoffier opened #103 "Redeployment with a launcher extending io.vertx.core.Launcher"
So far, it does not work...

When using a launcher class extending `Launcher`, we forward the args to the `Launcher`.  However, as it's not the Vert.x Launcher we don't build the command line.

[2017-02-17 07:20] kameshsampath commented on #103
@cescoffier - not able to understand, you mean to say the `new Launcher().dispatch(args)` kind of thing will not pass the args ?

[2017-02-17 07:40] cescoffier commented on #103
When someone uses a launcher extending the `io.vertx.core.Launcher`, it expects the regular `Launcher` parameter (`run verticle....`). Right now, we don't pass any parameter, and we fail with an obscure error (ClassNotFound redeploy-termination-period=1000).

[2017-02-17 07:42] cescoffier commented on #103
To reproduce it, just create a project with a custom launcher extending `io.vertx.core.Launcher` with the following main:

[code]

With this launcher we neither, run / start nor manage the redeployment.

[2017-02-17 08:30] kameshsampath commented on #103
got it thanks, let me check and fix it up

[2017-02-17 09:20] cescoffier commented on #103
CC @ctranxuan

[2017-02-19 01:06] kameshsampath opened #104 "Support for adding system properties"
the plugin should allow support for passing system properties to the vert.x application launched/run. Similar to how other maven plugin.

e.g.

[code]
@cescoffier - thoughts ?

[2017-02-19 07:57] cescoffier commented on #104
Cannot this be done with: `-Dvertx.runArgs="-Dprop.a=hello"` ?

[2017-03-07 13:35] cescoffier opened #105 "Update vert.x version to 3.4.0"

[2017-03-07 13:35] cescoffier commented on #105
Fixed in https://github.com/fabric8io/vertx-maven-plugin/commit/256e503c4c588c5a5041021424537f12a3ce828c

[2017-03-07 13:35] #105 closed

[2017-03-07 18:12] cescoffier opened #107 "Signature files embedded in signed jar should be filtered out"
When building the fat jar embedding signed jars, the output jar is invalid:

[code]

[2017-03-08 04:01] #107 closed

[2017-03-08 06:57] #103 closed

[2017-03-16 16:06] cescoffier opened #109 "Use Vert.x 3.4.1 as default"

[2017-03-16 16:08] #109 closed

[2017-04-20 12:32] cescoffier opened #110 "Dependency ordering may be OS specific"
When iterating over dependencies, the Maven order must be preserved in order to be OS-agnostic.

This impacts:

* the final jar when a package is available in 2 dependencies
* the SPI combination

[2017-04-20 13:07] kameshsampath commented on #110
just putting the sample dependency content based on our discussions,

`jar1 with io.vertx.foo/foo.txt=hello`
`jar2 with io.vertx.foo/foo.txt=bonjour`

with maven pom.xml like

[code]

So when SPI combination is done, the content of foo1 content should be followed by foo2 content.

[2017-04-21 12:22] kameshsampath commented on #71
@cescoffier - are you still looking at adding this, got some bandwidth over next week shall try to push this thing in

[2017-04-21 12:32] cescoffier commented on #71
please go ahead @kameshsampath - my bandwidth is rather thin at the moment

[2017-04-21 17:01] kameshsampath opened #112 "Config Already exists"
When making vertx app using `src/main/conf/application.yml`, re-run using `vertx:run` is causing the following exception to occur

[code]

[2017-04-22 12:07] kameshsampath opened #113 "Adding destFileName to vertx-web-client.js file"
traditionally the vertx-web-client.js are being called `vertx-eventbus.js`, hence will it be nice to add option to allow the destfile name for web client javascript files via plugin ?

some thing like
[code]
so when the initialize goal executes - it will copy `vertx-web-client --> vertx-eventbus` and `jquery --> my-jquery` with extensions as is

@cescoffier  - thoughts ?

[2017-04-22 14:32] cescoffier commented on #113
For js dependencies, yes, it can be an interesting feature. For webjars, it's more tricky.
It's probably something we should to in combination of #71 - a way to configure the content of the fat jar.

[2017-04-22 16:17] InfoSec812 opened #114 "When using redeploy, monitor POM file for changes and load new libraries."

[2017-04-23 03:57] kameshsampath commented on #114
@InfoSec812 - thanks for reporting it, we are thinking on it to see the optimal way of doing it..

[2017-04-23 03:57] kameshsampath commented on #110
closed via #111

[2017-04-23 03:57] #110 closed

[2017-04-23 14:25] InfoSec812 commented on #114
Woot!

On Apr 22, 2017 23:57, "Kamesh Sampath" <notifications@github.com> wrote:

[2017-04-27 10:24] cescoffier opened #115 "Documentation copyright year is 2016"
Time flies....

[2017-04-30 15:54] kameshsampath commented on #115
oh yeah :) ... let me update in next release

[2017-05-08 09:54] cescoffier opened #117 "Shutdown hook not called when stopping redeployment"
When redeploying the application, the Vert.x shutdown hook is called. However, when stopping the redeployment (CTRL+C) it's not called.

[2017-05-09 12:55] nimo23 opened #118 "place "Common Configurations"-properties within vertx-maven-plugin"
Why not move "common configuration"-properties (e.g. "vertx.verticle"-property) within "vertx-maven-configuration"-tag?

Actually I have to put "common configuration"-properties within "maven-properties-tag" and cannot put it into "vertx-maven-configuration-tag" of "vertx-maven-plugin".

[code]

[2017-05-09 14:02] cescoffier commented on #118
Just use the "verticle" property:

[code]

[2017-05-09 14:40] nimo23 commented on #118
Cool, thanks!

[2017-05-09 14:40] #118 closed

[2017-05-09 14:45] nimo23 opened #119 "startMode "exploded" does not generate exploded folder in target-directory"
When using "vertx:start" with "startMode: exploded", then I expect, that the "exploded archive" is used instead of a "jar" when running the application. However, I cannot find the "exploded archive" within my "target"-directory. Where is it?

[2017-05-09 14:48] nimo23 opened #120 "Plugin execution not covered by lifecycle configuration: initialize"
I am using this:

[code]

and maven prints the following warning/error:

"Plugin execution not covered by lifecycle configuration: io.fabric8:vertx-maven-plugin:1.0.7:initialize (execution: vmp, phase: initialize)"

So should I delete goal "initialize" ?

[2017-05-09 14:55] nimo23 opened #121 "appId not used in vertx:run"
I use `<appId>my-app</appId>`. However, it does only work for vertx:start and not for vertx:run. vertx:run does generate a uuid instead of taking the appId "my-app".

[2017-05-09 15:03] cescoffier commented on #120
Are you executing it in Eclipse ?

[2017-05-09 15:05] cescoffier commented on #121
yes, it's the expected behavior.

`vertx:run` launches they application in "redeploy" mode (if `redeploy` is set to `true`) or in frontend (so no `vertx.id` in this case).

The application id is only used as an admin tool to list the running vert.x application.

[2017-05-09 15:06] cescoffier commented on #119
It uses the "target/classes" directory and the Maven dependencies. It does not generate the exploded archive. Actually, it's an interesting use case. Can you tell us more about it?

[2017-05-09 15:30] nimo23 commented on #121
Okay, "vertx:run" starts in "foreground-mode", so no need for custom appId.

[2017-05-09 15:30] #121 closed

[2017-05-09 15:30] nimo23 commented on #120
Yes, I use eclipse.

[2017-05-09 15:34] cescoffier commented on #120
Ah ah, so you just hit the infame M2Eclipse issue.

Not a big deal, just add this `plugin` to your pom.xml file:

[code]

It just says to Eclipse, "ignore me...". It does not change the behavior of the plugin.

@kameshsampath - we should document this.

[2017-05-09 15:35] nimo23 commented on #119
Would be nice to use "exploded archive" instead of "target/classes" so all the files within the can be hot changed (by other editors/browsersync/etc).

http://stackoverflow.com/questions/3906881/advantages-disadvantages-to-exploded-wars.

[2017-05-09 16:03] nimo23 commented on #120
so my pom.xml gets bigger;/..

but thanks!

[2017-05-09 16:03] #120 closed

[2017-05-09 16:04] nimo23 commented on #119
However, I dont know, if there is a general need for that..?

[2017-05-09 16:04] #119 closed

[2017-05-10 10:02] nimo23 opened #122 "runArgs or jvmArgs"
I want to put

`-Dvertx.logger-delegate-factory-class-name=io.vertx.core.logging.Log4j2LogDelegateFactory`

within my vertx-maven-plugin configuration. However, it does not work. Should I use runArgs instead of jvmArgs?

[code]

[2017-05-10 10:06] kameshsampath commented on #122
@nimo23, your config is not right, please refer here --> https://github.com/tsegismont/vertx-musicstore/blob/master/pom.xml#L140-L145 for the right way. you need to have <jvmArgs>and then jvmArg which should have your jvm arguments

[2017-05-10 10:06] #122 closed

[2017-05-24 07:23] cescoffier opened #123 "Build failed when `git` is not available"
When a project as git `scm` metadata but the `git` executable is not available on the system, the build fails.

[2017-05-24 07:23] cescoffier opened #124 "META-INF content not embedded in the fat-jar"
Files under `META-INF` are not embedded.

[2017-05-25 10:35] cescoffier commented on #124
Fixed by #125

[2017-05-25 10:35] #124 closed

[2017-05-25 10:37] #115 closed

[2017-05-25 11:50] #123 closed

[2017-05-25 15:02] #112 closed

[2017-05-29 15:38] ctranxuan opened #126 "Packaging issue with Spring dependencies"
Hello,
While packaging a Vert.x with dependencies that uses Spring, we ran the following issue when trying to start the resulting jar:

`org.springframework.beans.factory.parsing.BeanDefinitionParsingException: Configuration problem: Unable to locate Spring NamespaceHandler for XML schema namespace [http://www.springframework.org/schema/util]
`

**Investigations**

From our investigations, we thin

[2017-05-29 15:39] cescoffier commented on #126
I believe I've already fixed in during my inner refactoring I've done last week. Let me try with your reproducer.

[2017-05-29 15:47] cescoffier commented on #126
Actually not... you need SPI combination outside of `META-INF/services` (enabled by default). I will add an option for this.

[2017-05-29 15:59] cescoffier commented on #126
@ctranxuan

Can you tell me if this is the "expected" output:

[code]

[2017-05-29 15:59] cescoffier commented on #126
(if so, just fixed it ;-))

[2017-05-29 19:03] ctranxuan commented on #126
Yep, it looks good.
What do we have to do to make it works? I forgot to tell we have tried with the latest version of master (the one, just before reporting the issue) because we've seen some related stuff in #124.

[2017-05-30 05:44] cescoffier commented on #126
Yes, #124 was related but not enough. I will push a fix Today. The issue requires the combination of the different Spring descriptors. By default, the plugin combines SPI provides from META-INF/services. Obviously, the Spring descriptors are not there...

[2017-05-30 07:46] cescoffier commented on #126
@ctranxuan can you try with #127 ?

[2017-05-30 09:42] ctranxuan commented on #126
It works like a charm :ok_hand:
Thanks!
So, is there any release foreseen soon? ;)

[2017-05-30 09:45] cescoffier commented on #126
Yes, just need to work around an issue on windows...

[2017-05-30 13:34] #126 closed

[2017-05-31 13:43] kameshsampath opened #128 "Add support for log redirection"
When running application in daemon mode, it would be nicer to have plugin configured with option ` -- redirect`  with a path to the log file. In doing so the `vertx:start` will start logging to the file configured as part of the `redirectLog` parameter

[2017-06-01 08:15] kameshsampath opened #129 "Ordering of resource files with filtering"
When vert.x applications are built with maven resource filtering enabled, the `vert.x` run need to use the resources from the target/classes  rather than from src/main/resources, the filtered resource is copied to target/classes

[2017-06-16 12:21] cescoffier opened #130 "Update vert.x version to 3.4.2"

[2017-06-16 13:01] #130 closed

[2017-06-29 19:47] InfoSec812 opened #131 "When using Maven 3.5.0, input prompts are not displayed properly."
The plugin will still pause waiting on input, but the prompts are not printed to the screen so it appears that the application has frozen.

[2017-06-30 10:35] kameshsampath commented on #131
@InfoSec812  - can you please provide steps and screenshots( if possible)

[2017-06-30 20:00] InfoSec812 commented on #131
Kamesh,

    Just run the setup goal without any properties defined, and that is all
that it takes to reproduce for myself and several others we had in our
workshop at QCon.

[image: Inline image 1]

[image: Inline image 2]

[image: Inline image 3]

Deven

On Fri, Jun 30, 2017 at 6:35 AM, Kamesh Sampath <notifications@github.com>
wrote:

[2017-06-30 20:17] InfoSec812 commented on #131
![image](https://user-images.githubusercontent.com/99691/27752564-a35713b0-5daf-11e7-8234-129d5f670e0c.png)

[2017-06-30 20:17] InfoSec812 commented on #131
![image](https://user-images.githubusercontent.com/99691/27752573-ad17983e-5daf-11e7-9dd2-59f6d0170487.png)

[2017-06-30 20:18] InfoSec812 commented on #131
![image](https://user-images.githubusercontent.com/99691/27752580-b761aaaa-5daf-11e7-9509-5b881eff31fc.png)

[2017-08-03 16:15] InfoSec812 opened #132 "Add support for setting "includes" parameter for redeploy"
In the `vertx run` command, the `--redeploy` option takes a list of glob patterns to determine which files should be watched for changes and thus trigger a redeploy. Could this capability be exposed via the plguin?

[2017-08-03 16:16] InfoSec812 commented on #132
From the help output of the `vertx run` command:

[code]

[2017-08-03 16:22] kameshsampath commented on #132
@InfoSec812 - right now we don't but we could add it. will check with @cescoffier  - your thoughts on adding it ? if you are good I can add it up

[2017-08-04 05:17] kameshsampath commented on #132
right now the redeploy goals are all aligned to compile phase only and by default we scan only "target/**/*" for redeploy. The simple technique we follow is to trigger compile when  source changes, we need to check if we can have configuration parameter to run additional goals during redeploy so that we can hook in any phase during redeploy.

@cescoffier thoughts ?

[2017-08-04 11:51] cescoffier commented on #132
@InfoSec812 @kameshsampath I'm not against it. I think it would be great. What is the use case to redeploy when something not in the `target` dir is updated? (Anything to do with typescript / js stuff ?)

[2017-08-04 12:04] InfoSec812 commented on #132
@cescoffier Precisely! My ideal workflow is to use the vertx-maven-plugin in conjunction with the frontend-maven-plugin such that I can run:
    mvn clean compile frontend:npm vertx:run

When running like this, changes to my Angular/Vue.js/etc... projects would be monitored. Changes in those files would then trigger the `compile` and `frontend:npm` phases/goals.

[2017-08-04 12:10] cescoffier commented on #132
@InfoSec812 Did you look into https://github.com/fabric8io/vertx-maven-plugin/tree/master/samples/vertx-web-example providing an example using the frontend maven plugin, node-based tools and vert.x maven plugin redeploy?

[2017-08-04 12:45] InfoSec812 commented on #132
@cescoffier I did, but that it using grunt's ability to monitor for changes. The projects we are working on are using either AngularCLI or Vue.js/WebPack.

[2017-08-04 12:51] cescoffier commented on #132
@InfoSec812 Grunt is just an example. You can use any type of tools:

1. the build process will run after every change in `src/main`.
2. the vert.x app is redeployed after every change in `target`.

If your web build tool has a "watch" mode, 1. is not necessary. If your web build process writes something in `target`, the application is redeployed. For instance, you may want to write the output of

[2017-08-04 12:55] InfoSec812 commented on #132
@cescoffier That is not the behaviour I am seeing... You can look at my example project at https://github.com/InfoSec812/service-proxy-client-example.

The problem is that when I save changes under `src/main/web` I see that the Java code gets recompiled, but the `frontend:npm` goal does not get executed.

[2017-08-04 13:07] InfoSec812 commented on #132
Additionally, I often end up with a build loop because I am trying for the following build order:

1. compile Java code (Generates JS Proxy files)
1. Use Maven Resource plugin to copy generated JS to Vue.js/WebPack src dir (src/main/web/) << Causes build loop!
1. Transpile Vue.js/WebPack app via `frontend:npm`
1. Redeploy Vert.x app

[2017-08-04 13:21] cescoffier commented on #132
Just change the phase:

[code]

the redeploy replays all mojo execution that happened between the initialize phase (not included) and the compile phase (included). By adding the phase, the vertx:run captures the mojo execution and replays it.

[2017-08-04 13:33] cescoffier commented on #132
Hum, I've the same build loop.... Can't you copy the file to the `target` dir instead?

[2017-08-04 13:52] cescoffier commented on #132
BTW, there is also an issue in the current process:

in the process-resources phase, it:

1. build the vue.js application, copying the output to src/main/resources
2. copy the src/main/resources to target/classes (default behavior)

In the compile phase (executed after the process-resources phase), it:

1. compile the Java sources and generate the proxy
2. copy the proxy file to src/main/web/src/l

[2017-08-04 13:53] InfoSec812 commented on #132
And therein lies the problem... IF I change the phase, the NPM build will not happen before the JS proxy code is generated. Copying the generated code to `target/classes` doesn't help because then it isn't bundled into the WebPack application and is therefore never loaded.

[2017-08-04 14:00] cescoffier commented on #132
Yes... By modifying the npm build to the `process-classes` phase it takes the new proxy, but I still have a loop between the copy resources and the compile phase.

[2017-08-04 14:01] InfoSec812 commented on #132
Makes sense as the NPM build modifies the contents of `src/main`.

[2017-08-04 14:03] cescoffier commented on #132
BTW, how would adding access to the --redeploy configuration help in this case?

[2017-08-04 14:05] InfoSec812 commented on #132
I'm not certain that it would...

[2017-08-04 14:06] cescoffier commented on #132
To fix the issue we would need another _work_ directory that is not in `src/main`. This work dir would be the directory used to do the npm build and this process will copy the output to target/classes/webroot.

The copy of the proxy file would to this work directory.

[2017-08-04 14:06] InfoSec812 commented on #132
But at the point where we place the webpack artifacts into `src/main/resources/webroot`, the boot loop would happen again.

[2017-08-04 14:08] InfoSec812 commented on #132
Just to take a few steps back... The whole point of this exercise is to be able to do quick development cycles. I have a working solution for building the runnable jar, but I do not have a good solution for a dev server/quick reload.

[2017-08-04 14:08] cescoffier commented on #132
We would not do that anymore. We would copy the output to target/classes/webroot:

In the config.js file:

[code]

[2017-08-04 14:10] InfoSec812 commented on #132
Even if we copied the webpack output to `target/classes/webroot` that would not be what is served when using `vertx:run`... From my experience, `vertx:run` resolves the `webroot` path to `src/main/resources/webroot`.

[2017-08-04 14:13] cescoffier commented on #132
Hum, that's a bug then. It should always serve it from target/classes/webroot and never from the src/main/resources/webroot, as this latter directory contains unprocessed file. @kameshsampath are you aware of this?

[2017-08-04 14:13] cescoffier commented on #132
Actually this is https://github.com/fabric8io/vertx-maven-plugin/issues/129

[2017-08-04 14:14] InfoSec812 commented on #132
And in fact, when I just tried it, the writing of the bundled webpack to `target/classes/webroot` triggers the build loop again...

[2017-08-04 14:15] InfoSec812 commented on #132
Als, in case I haven't said so before, I really appreciate all of the assistance and patience @cescoffier !!!

[2017-08-04 14:16] cescoffier commented on #132
because of the compile phase copying to src/main/web?

[2017-08-04 14:17] InfoSec812 commented on #132
No, the compile phase is copying to `target/classes/webroot` in my test.

[2017-08-04 14:18] InfoSec812 commented on #132
pom.xml
[code]

index.js (Build Config)
[code]

[2017-08-04 14:21] cescoffier commented on #132
So, on my whiteboard (be aware there is a huge gap between my whiteboard and reality), with #129 fixed, and using a `$work` directory, we would get something working.

1. In the process-sources phase, we copy `src/main/web` into `$work`
2. In the process-resources phase, the default copy happens (`src/main/resources` to `target/classes`)
3. in the compile phase the java compilation happens, the pr

[2017-08-04 14:22] cescoffier commented on #132
BTW (and because I should read my own doc several times), process-classes is taken into account in the redeploy (it's the last phase, and not, as I said above, the compile phase).

[2017-08-04 14:22] InfoSec812 commented on #132
Sounds like it would work, but it's hard to say until we can try it... In the meantime, I can work around it.

[2017-08-05 06:49] cescoffier commented on #129
@kameshsampath work in progress.

[2017-08-05 06:50] kameshsampath commented on #129
thanks @cescoffier - am on PTO , will look in to the includes stuff once back from PTO

[2017-08-05 06:50] cescoffier commented on #131
I'm going to have a look to this issue.

[2017-08-05 06:57] cescoffier commented on #129
@kameshsampath the includes stuff looks not useful at that point. Let me see if it's useful.

[2017-08-05 06:58] #129 closed

[2017-08-05 06:58] cescoffier commented on #129
Just fixed it.

[2017-08-05 07:01] cescoffier commented on #131
@InfoSec812 @kameshsampath Issue reproduced on my machine.

[2017-08-05 07:20] cescoffier commented on #131
The `Prompter` needs to be replaced.

[2017-08-05 07:50] cescoffier commented on #132
Quick feedback... it works ;-)

[2017-08-05 09:51] #131 closed

[2017-08-05 13:31] InfoSec812 commented on #131
Woot!

Deven

On Aug 5, 2017 5:51 AM, "Clement Escoffier" <notifications@github.com>
wrote:

[2017-08-05 17:16] cescoffier commented on #132
@InfoSec812 @kameshsampath Here is the project: https://github.com/cescoffier/service-proxy-client-example

Basically, `mvn process-classes vertx:run` provides a hot reload / fast cycle feature following the approach mentioned above.

[2017-08-05 17:38] InfoSec812 commented on #132
Abosulutely AWESOME!!! I'll give it a try shortly...

Deven

On Sat, Aug 5, 2017 at 1:16 PM, Clement Escoffier <notifications@github.com>
wrote:

--

Deven Phillips

Senior Consulting ENgineer, RED HAT OPEN INNOVATION LABS

Red Hat

<https://www.redhat.com/>

deven.phillips@redhat.com
<https://red.ht/sig>

[2017-08-05 18:03] InfoSec812 commented on #132
On quick follow-up question... Any idea how soon it will be possible to
have this in Maven Central?

Deven

On Sat, Aug 5, 2017 at 1:38 PM, Deven Phillips <deven.phillips@redhat.com>
wrote:

--

Deven Phillips

Senior Consulting ENgineer, RED HAT OPEN INNOVATION LABS

Red Hat

<https://www.redhat.com/>

deven.phillips@redhat.com
<https://red.ht/sig>

[2017-08-06 09:32] cescoffier commented on #132
@InfoSec812 I've released 1.0.9 yesterday, so already there....

[2017-08-18 14:55] sstubbs opened #133 "recompiling only changed source files on redeploy"
I have an issue where all source files and generated sources are being recompiled on every redeploy. This is quite time consuming on a large project. Is there a way to enable only changed source files being recompiled?

[2017-08-18 22:22] sstubbs commented on #133
Sorry for raising issue here I have read the maven-compiler-plugin docs and adding <useIncrementalCompilation>false</useIncrementalCompilation> has fixed this issue.

[2017-08-20 08:43] cescoffier commented on #133
Hi,

Which flag did you set to false? I would like to add it to the vertx maven plugin documentation.

[2017-09-14 13:15] cescoffier opened #134 "Overidden content when the files are duplicated among the dependencies"
When a file is present in several dependencies, it uses the last version in the packaging phase, while it uses the first one in the run phase. This later behavior should be enforced in the packaging process.

[2017-09-14 13:16] #134 closed

[2017-11-02 15:58] MarWestermann opened #137 "Merge resource files when packaging"
I have a vertx camel application which uses camel-cxf. It works fine when running the application via mvn vertx:run but if I use the vertx-maven-plugin:package to create a fat jar, I get cxf errors.

This is because some of the cxf dependencies all have a META-INF/cxf/bus-extensions.txt file which would need to be merged to the fat jar. But the fat jar only contains the bus-extensions.txt from the

[2017-11-05 07:04] cescoffier commented on #137
I definitely agree. Right now, only "SPI" (/META-INF/services) are merged, but we should add an option for this.

The good news is: everything has been done to be able to do it.

[2017-11-27 17:42] eddywm opened #138 "It would nice to see a quick Vert.X Kotlin setup using this maven plugin."

[2018-02-08 16:05] pmlopes opened #139 "Add a generic exec mojo"
# The issue:

When working with polyglot projects and including `vertx-unit` as a dependency, a new launcher command is available: `test`. This newly available command cannot be executed as part of this plugin and will require a 2 step approach:

1. run vmp:package
2. invoke the command

The side effects are that for this approach one will have to package all test dependencies as normal dependenci

[2018-02-10 20:43] rdcoe commented on #120
This doesn't work for me.  Eclipse still reports:
Plugin execution not covered by lifecycle configuration: io.fabric8:vertx-maven-plugin:1.0.7:initialize (execution: vmp, phase:  initialize)

I've run Maven update and ran mvn clean install

[2018-02-10 22:40] rdcoe commented on #120
K, the solution is to wrap it in <pluginManagement><plugins>...</plugins></pluginManagement> inside <build>...</build>

[2018-02-15 16:58] pn-santos commented on #104
I came across this recently and at least for configuring `vertx.logger-delegate-factory-class-name` it doesn't work. Tried doing `-Dvertx.runArgs="-Dvertx.logger-delegate-factory-class-name=io.vertx.core.logging.Log4j2LogDelegateFactory"` but I still see the `INFO: Succeeded in deploying verticle` message (meaning it doesn't pickup the log4j2 config).

If I run the jar manually with `java -Dvertx.

[2018-03-28 12:34] mcollovati opened #140 "Dependency with classifier is not resolved when running vertx:run"
Dependencies with classifier are not resolved when running `vertx:run`; in the log I can see this kind of errors

[code]

It seems to me that the problem resides in `AbstractVertxMojo.asMavenCoordinates`.
In this method the artifact coord is created in the form of `<groupId>:<artifactId>:<version>[:<extension>[:<classifier>]]`  whereas javadocs for [`DefaultArtifact`](https://maven.apache.org/reso

[2018-03-28 17:08] cescoffier commented on #140
A PR is always welcome!

[2018-04-15 16:14] InfoSec812 opened #142 "Using custom launcher fails to package properly"
When using a custom launcher via the `vertx.launcher` property, if you use `vertx:package` and try to run the resulting fat-jar it will fail with:

[code]

Expected results: Running the fat-jar will default to the `run` command

Version: 1.0.13

[2018-04-15 16:32] InfoSec812 commented on #142
I tried to work around this by overriding the `getDefaultCommand` or `getCommandFromManifest`. Neither of these options worked. In the end, I DID find a workaround.. I overrode the `main` method as follows:

[code]

[2018-04-16 06:34] cescoffier commented on #142
Hi,

Is your class extending Launcher? In that case, yes, the code you write is
required (but this should be documented). If your class does not extend
Launcher but just have a `main` method, then no...

2018-04-15 18:32 GMT+02:00 Deven Phillips <notifications@github.com>:

[2018-04-16 12:04] InfoSec812 commented on #142
Yes, I am extending Launcher so that I can configure Hawkular metrics via Kubernetes configmaps

[2018-04-19 08:55] mountdreams opened #143 "Address already in use when redeploy tag is true"
hello, i'm trying this plugin by making a simple verticle.
first i tried with mvn clean compile vertx:run and verticle runs fine, then i turn it off with CTRL + C.
when i try to run with mvn clean compile vertx:run again,
  appears SEVERE: java.net.BindException: Address already in use: bind

when i try with <redeploy>false</ redeploy> this is not the case anymore, but i want to use redeploy featu

[2018-04-19 09:07] mountdreams commented on #143
**the verticle**

`package com.example.vertx;

import io.vertx.core.AbstractVerticle;

public class MainVerticle extends AbstractVerticle {

    @Override
    public void start() throws Exception {
        vertx.createHttpServer().requestHandler(req -> {
            req.response()
                .putHeader("content-type", "text/plain")
                .end("test");
        }).listen(8080);

[2018-04-19 09:12] tsegismont commented on #143
I believe this is a duplicate of #117

For the record, which OS do you develop on?

[2018-04-24 23:22] InfoSec812 opened #144 "Some dependencies are not being included in the fat-jar when using vertx:package"
I wrote a small module to provide a custom implementation of Launcher and I want to use it across a group of related applications. The Launcher library has dependencies on vertx-hawkular-metrics, vertx-infinispan, and jgroups-kubernetes. Unfortunately, when I include that library as a dependency in a project via Maven, the vertx:package target does not include vertx-hawkular, vertx-infinispan, or

[2018-04-25 06:42] cescoffier commented on #144
Can you provide a reproducer? only dependencies from the `compile` scope are embedded.

[2018-04-25 12:39] InfoSec812 commented on #144
This is the project I am working on: https://github.com/InfoSec812/rhoar-vertx/tree/implement-clustering

Here's what I have been doing from the root of the parent project
[code]

And the output I get is:
[code]

[2018-04-25 14:33] InfoSec812 commented on #144
Something interesting I just noticed... In IntelliJ's Maven project panel I see:
![image](https://user-images.githubusercontent.com/99691/39252621-0b20509c-4874-11e8-8f17-c314b51d86ef.png)
But when I run `mvn -B dependency:tree` the transitive dependencies from my library are not showing up!!!

[2018-04-25 18:34] InfoSec812 commented on #144
Made some progress, but I'm not sure why it's behaving the way that it is... IF I move the jgroups dependency to the parent pom's dependencyManagement section, it seems to resolve the problem. Could just be some weirdness with Plexus module resolution, but I don't know how to prove/disprove that.

[2018-05-01 10:03] cescoffier commented on #144
Yes, it's a maven visibility _issues / bugs_. The dependency is filtered out.

I've tried your project and it works, did you fix it already?

[2018-05-01 10:04] cescoffier commented on #144
BTW, I've copied the issue to: https://github.com/reactiverse/vertx-maven-plugin/issues/17 where the development of the plugin will continue.

[2018-05-04 12:09] InfoSec812 commented on #144
Yes, I changed how the dependencies were being included from the parent-POM
perspective. It's a workaround, but less than ideal.

Deven

On Tue, May 1, 2018 at 6:03 AM, Clement Escoffier <notifications@github.com>
wrote:

--

Deven Phillips

Senior Consulting ENgineer, RED HAT OPEN INNOVATION LABS

Red Hat

<https://www.redhat.com/>

deven.phillips@redhat.com
<https://red.ht/sig>

[2018-06-11 08:17] stephenstubbs opened #145 "Java 9 Debug In Docker Container"
I have been using the debug option in java 8 with no issues. After upgrading to java 9 it needs the debugging port set to *:5005 in order to debug it from hosts other than localhost but -Ddebug.port=5005 only accepts a number I have tried setting it to to *:5005 which results in an error. I have also tried using the run command and passing in jvm args but I am also unable to get this to work.

[2018-06-11 08:49] cescoffier commented on #145
can you provide a reproducer?

[2018-06-11 10:14] stephenstubbs commented on #145
Here is a test project [link](https://github.com/sstubbs/vertx-maven-plugin-testproject)

I ran `./steps.sh setup` to setup the project and have just added the timer with the logger which fires every 5 seconds to the verticle to test.

The the three options I have tried are:
`./steps run_with_jvm_args`
`./steps debug_with_jvm_args`
`./steps debug_with_port`

[2018-06-11 10:23] stephenstubbs commented on #145
And here is a link to the issue https://stackoverflow.com/questions/46662125/remote-debugging-java-9-in-a-docker-container-from-intellij-idea

I have updated the test project to use the jvmArguments in the issue. I had tried them before but I have just added them here for consistency.

[2018-06-17 16:28] stephenstubbs commented on #145
If there is anything else I can do to help please let me know. It would be great to be able to upgrade my project to java 9.

[2018-06-18 06:26] cescoffier commented on #145
The fix is quite straightforward I believe. We just need to adapt the `debug.port` configuration to be a string. Fancy a PR?

BTW, the project has been migrated to https://github.com/reactiverse/vertx-maven-plugin, so you should switch to this version instead.

[2018-06-18 17:32] stephenstubbs commented on #145
Yes I have been looking through it and like you say all that needs to be done is change it to a string. Sure I can do a pull request. Is there a specific branch you want me to use for it?

[2018-06-18 17:34] stephenstubbs commented on #145
Nevermind I see some branches just with issue numbers. I will do a pull request and continue further messages on the new repo.

[2018-06-25 05:54] cescoffier commented on #145
Closed by https://github.com/reactiverse/vertx-maven-plugin/pull/33.

[2018-06-25 05:54] #145 closed, assigned to nobody

[2018-08-07 06:21] cescoffier commented on #137
Issues copied to https://github.com/reactiverse/vertx-maven-plugin/issues/12.

[2018-08-07 14:02] cescoffier commented on #144
The plugin now has an `archive` parameter that allows fine-tuning of the content of the jar. You can configure dependency sets that would include/exclude dependencies.

[2018-08-07 14:03] cescoffier commented on #144
Closed by https://github.com/reactiverse/vertx-maven-plugin/issues/17

[2018-08-07 14:03] #144 closed

[2018-08-07 14:04] cescoffier commented on #137
The plugin now has an `archive` attribute that allows configuring which file need to be combined.
Fixed by https://github.com/reactiverse/vertx-maven-plugin/issues/12

[2018-08-07 14:04] #137 closed

[2018-08-07 14:05] cescoffier commented on #71
The plugin now has an `archive` attribute that can configure dependency sets. Each set can include/exclude dependencies.

Fixed by: https://github.com/reactiverse/vertx-maven-plugin/issues/2

[2018-08-07 14:05] #71 closed

[2018-08-07 14:08] cescoffier commented on #113
This is not required anymore. The plugin has now an `archive` attribute that can include specific files where the output directory and destination name can be configured.

Reference: https://github.com/reactiverse/vertx-maven-plugin/issues/6

[2018-08-07 14:08] #113 closed

[2018-08-07 14:09] cescoffier commented on #87
SCM metadata are now supported (since quite some time...)

[2018-08-07 14:09] #87 closed

[2018-08-07 14:10] cescoffier commented on #104
Can be done using:

[code]

[2018-08-07 14:10] #104 closed

[2018-08-08 16:25] cescoffier commented on #142
Fixed in https://github.com/reactiverse/vertx-maven-plugin/issues/15.

[2018-08-08 16:25] #142 closed

[2018-08-08 16:25] cescoffier commented on #138
An example has been added in https://github.com/reactiverse/vertx-maven-plugin/tree/master/samples/kotlin-example

[2018-08-08 16:25] #138 closed